<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lesson5.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lesson5.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <DZ2Ch5.Properties.Settings>
            <setting name="notepadFilename" serializeAs="String">
                <value>notepad.rtf</value>
            </setting>
        </DZ2Ch5.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <DZ2Ch5.Properties.Settings>
            <setting name="Lesson5_net_webservicex_www_GlobalWeather" serializeAs="String">
                <value>http://www.webservicex.net/globalweather.asmx</value>
            </setting>
        </DZ2Ch5.Properties.Settings>
    </applicationSettings>
</configuration>